body {
    margin: 0;
}
.navbar {
    background-color: #212529;
    width: 100%;
    top: 0;
    padding: 8px 16px 8px 16px;
    display: flex;
}
.navbar ul {
    display: table;
    margin: 0 auto;
}
.navbar ul li {
    display: inline-block;
}
.navbar li {
    border-right: 1px solid #ffffff;
}
.navbar li:last-child {
    border-right: none;
}
.navbar li a {
    color: #FAFAFF;
}
.nav-item {
    height: 40px;
    justify-content: center;
    text-align: center;
}
.nav-link {
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
}